//- Includes header.pug
include header.pug

div(class="mx-auto py-3 px-4 pt-16 bg-gray-700 overflow-y-auto scrolling-auto text-gray-500 select-none")
    div(class="flex justify-center z30")
        div(class="p-3 space-y-3 divide-y divide-gray-400 max-w-3xl")
