div(class="mx-auto py-3 px-4 pt-16 bg-gray-700 overflow-y-auto scrolling-auto text-gray-500 select-none")
    div(flex items-center justify-center text-center)
        p(text-6xl text-gray-400) #{title}
    div(flex items-center justify-center text-center)
        p(text-1xl text-gray-400) #{status}
    div(flex items-center justify-center text-center)
        p(text-1xl text-xs text-gray-600 hover:text-white) 
            a(href="/") Head back to safety!