//- Includes header.pug
include header.pug

dev(class="mx-auto py-3 px-4 pt-16 bg-gray-700 overflow-y-auto scrolling-auto text-gray-500 select-none")
    dev(class="flex items-center justify-center text-center")
        p(class="text-6xl text-gray-400") SORRY!
    dev(class="flex items-center justify-center text-center")
    p(class="text-1xl text-gray-400") The chat is at capacity, please come back later.