//- Includes header.pug
include header.pug

//- Chat Text Area
div(id="chatroom" class="w-screen absolute bottom-0 pb-16 overflow-y-auto scrolling-touch select-none z-40")

//- Chat Text Bar
dev(class="fixed py-3 px-4 inset-x-0 bottom-0 bg-gray-700 shadow-lg z-50")
    dev(class="flex")
        form(action="" class="w-full md:w-full sm:w-full lg:w-full xl:w-full")
            div(class="bg-gray-700")
            input(id="chatBar" class="w-full md:w-full sm:w-full lg:w-full xl:w-full bg-white focus:outline-none focus:shadow-outline border placeholder-gray-300 text-gray-300 focus:text-gray-600 rounded-lg px-4 block appearance-none leading-normal overflow-scroll" required type="text" autocomplete="off" placeholder="say something...")

script(type="text/javascript" src="/socket.io/socket.io.js")
script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js")
script(src="/js/chat.js")